.text-filled {
  margin-top: 20px;
}

/* stylesclientinfocard.css */

.client-info-card-space {
  width: 100%;
}

.client-info-card-radio-space {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.client-info-card-dynamic-input {
  margin-top: 8px;
  width: min(420px, 100%);
  margin-left: 0;
}

.client-info-card-note {
  padding-top: 25px;
}

.client-info-card-note-text {
  font-size: 14px;
  color: rgba(2, 6, 23, 0.66);
}

body[data-mantine-color-scheme="dark"] .client-info-card-note-text {
  color: rgba(255, 255, 255, 0.66);
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .client-info-card-note-text {
    font-size: 13px;
    color: rgba(2, 6, 23, 0.66);
  }
}

@media screen and (min-width: 440px) and (max-width: 768px) {
  .client-info-card-note-text {
    font-size: 13px;
    color: rgba(2, 6, 23, 0.66);
    display: flex;
    margin-top: -8px;
  }
}
